{% extends 'registration/base_registration.html' %}

{% block content %}
<div class="change-password-done">
  <div id="container">
    <div id="header">
      <h1><a href="#">Password Changed</a></h1>
    </div>
    <div id="content">
      <p>Your password has been changed.</p>
    </div>
  </div>
</div>
<!--
  <div class="container">
    <h1>Password changed successfully</h1>
    <p>Your password has been changed successfully. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
  </div>
-->
{% endblock %}

