{% extends 'registration/base_registration.html' %}

{% block content %}
<div class="change-password">
  <div id="container">
    <div id="header">
      <h1><a href="#">Change Password</a></h1>
    </div>
    <div id="content">
      <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        <div id="content-main">
          <div class="form-row">
            <label for="id_old_password">Old Password:</label>
            {{ form.old_password }}
          </div>
          <div class="form-row">
            <label for="id_new_password1">New Password:</label>
            {{ form.new_password1 }}
          </div>
          <div class="form-row">
            <label for="id_new_password2">Confirm New Password:</label>
            {{ form.new_password2 }}
          </div>
        </div>
        <div class="submit-row">
          <button type="submit">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

